*{The memberStats view is a partial that displays the member analytics. The view has some conditions to change icon
color depending on the particular analytic result}*

<header class="ui center aligned middle aligned grid segment">
    <section class="four column row">
        <div class="column">
        #{if _member.gender.toUpperCase().charAt(0) == 'M'}<h1><i class="large male icon icon"></i></h1>#{/if}
        #{elseif _member.gender.toUpperCase().charAt(0) == 'F' }<h1><i class="large female icon icon"></i></h1>#{/elseif}
        #{else }<h1><i class="large user icon"></i></h1>#{/else}
        </div>

        <div class="column">
        #{if !utils.Analytic.isIdealBodyWeight(_member)}<h1><i class="large red bullseye icon"></i></h1>#{/if}
        #{else }<h1><i class="large green bullseye icon"></i></h1>#{/else}
        </div>

        <div class="column">
        #{if utils.Analytic.calculateBMI(_member) > 30}<h1><i class="large purple heartbeat icon"></i>${utils.Analytic.calculateBMI(_member)}</h1>#{/if}
        #{elseif utils.Analytic.calculateBMI(_member) < 20}<h1><i class="large blue heartbeat icon"></i>${utils.Analytic.calculateBMI(_member)}</h1>#{/elseif}
        #{else }<h1><i class="large green heartbeat icon"></i>${utils.Analytic.calculateBMI(_member)}</h1>#{/else}
        </div>

        <div class="column">
        #{if utils.Analytic.determineBMICategory(_member).contains("OBESE")}<h1><i class="large red doctor icon"></i></h1>#{/if}
        #{elseif utils.Analytic.determineBMICategory(_member).contains("UNDERWEIGHT")}<h1><i class="large blue doctor icon"></i></h1>#{/elseif}
        #{else}<h1><i class="large green doctor icon"></i></h1>#{/else}
        </div>
    </section>

    <section class="four column row">
        <div class="ui column">
            <h3 class="ui header"> ${_member.name} </h3>
        </div>
        <div class="ui column">
            <h3>Ideal Body Weight</h3>
        </div>
        <div class="ui column">
            <h3>BMI</h3>
        </div>
        <div class="ui column">
            <h3>${utils.Analytic.determineBMICategory(_member)}</h3>
        </div>
    </section>
</header>