#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="ui center aligned middle aligned segment">
    <p>
        This app is a web project to apply concepts learned from the web development module with use of the Play Framework
        and semantics ui to create a gym applet that allows members and trainers to track health assessments.
    </p>
    <p>
        The github repository for this project can be found on this <a href="https://github.com/KevFan/web_assignment2_gym_app"> here.</a>
    </p>
</section>