*{The dashboard view is the main view for the member.
The dashboard displays the member stats with the by passing the member into the member details partial view.
The addassessment partial view is also called to allow the member to add assessments.
The view also lists the assessments of the member by passing each assessment from the member assessment list to the ]
assessmentDetails partial}*

#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}
<section class="ui raised segment">
    #{memberStats member:member/}

    #{addassessment/}

    <table class="ui center aligned tablet stackable celled table">
        #{assessmentHeadings /}

        <tbody>
            #{list items:assessmentlist, as:'assessment'}
                #{assessmentDetails assessment:assessment, member:member/}
            #{/list}
        </tbody>
    </table>
</section>
