*{The member view for the trainer to view the member stats and assessments.
The view displays the member stats by calling the memberStats partial view, and lists all the members assessments by
passing each assessment into the assessmentDetails view. Each assessment also has a form for the trainer to update
the assessment comment}*

#{extends 'main.html' /}
#{set title:'Member Assessments' /}

#{admin id:"dashboard"/}
<section class="ui raised segment">
    #{memberStats member:member/}
</section>

<section class="ui segment">
#{list items:assessmentlist, as:'assessment'}
    <table class="ui fixed table">
        #{assessmentHeadings /}
        <tbody>
        <div class="ui bulleted list">
            #{assessmentDetails assessment:assessment/}
                <td><a href="/dashboard/${member.id}/deleteassessment/${assessment.id}"> <i class="icon trash"></i> </a></td>
            </tr>
        </div>
        </tbody>
    </table>

    <form class="ui form" action="/members/${member.id}/updatecomment/${assessment.id}" method="POST">
        <div class="field">
            <label>Comments</label>
            <input placeholder="Comment" type="text" name="comment">
        </div>
        <button class="ui blue submit button">Update</button>
    </form>
#{/list}
</section>