#{extends 'main.html' /}
#{set title:'Setting' /}

#{menu id:"setting"/}

<section class="ui raised segment">
    <form class="ui form">
        <section class="ui center aligned middle aligned grid segment">
            <div class="row"> <h3 class="ui header">Member Details</h3></div>
            <div class="three column row">
                <div class="left aligned column">
                    <h4>Name</h4>
                    ${member.name}
                </div>
                <div class="column">
                    <input placeholder="Name" type="text" name="name">
                </div>
                <div class="column">
                    <button class="ui blue submit button" formaction="/updateMemberName" formmethod="POST">Update</button>
                </div>
            </div>

            <div class="three column row">
                <div class="left aligned column">
                    <h4>Gender</h4>
                    ${member.gender}
                </div>
                <div class="column">
                    <input placeholder="Gender (M/F)" type="text" name="gender">
                </div>
                <div class="column">
                    <button class="ui blue submit button" formaction="/updateMemberGender" formmethod="POST">Update</button>
                </div>
            </div>

            <div class="three column row">
                <div class="left aligned column">
                    <h4>Email</h4>
                    ${member.email}
                </div>
                <div class="column">
                    <input placeholder="Email" type="text" name="email">
                </div>
                <div class="column">
                    <button class="ui blue submit button" formaction="/updateMemberEmail" formmethod="POST">Update</button>
                </div>
            </div>

            <div class="three column row">
                <div class="left aligned column">
                    <h4>Password</h4>
                    ${member.password}
                </div>
                <div class="column">
                    <input placeholder="Password" type="password" name="password">
                </div>
                <div class="column">
                    <button class="ui blue submit button" formaction="/updateMemberPassword" formmethod="POST">Update</button>
                </div>
            </div>

            <div class="three column row">
                <div class="left aligned column">
                    <h4>Address</h4>
                    ${member.address}
                </div>
                <div class="column">
                    <input placeholder="Address" type="text" name="address">
                </div>
                <div class="column">
                    <button class="ui blue submit button" formaction="/updateMemberAddress" formmethod="POST">Update</button>
                </div>
            </div>

            <div class="three column row">
                <div class="left aligned column">
                    <h4>Height</h4>
                    ${member.height}
                </div>
                <div class="column">
                    <input placeholder="Height (m)" type="text" name="height">
                </div>
                <div class="column">
                    <button class="ui blue submit button" formaction="/updateMemberHeight" formmethod="POST">Update</button>
                </div>
            </div>

            <div class="three column row">
                <div class="left aligned column">
                    <h4>Starting Weight</h4>
                    ${member.startingWeight}
                </div>
                <div class="column">
                    <input placeholder="Starting Weight (kg)" type="text" name="startingWeight">
                </div>
                <div class="column">
                    <button class="ui blue submit button" formaction="/updateMemberStartingWeight" formmethod="POST">Update</button>
                </div>
            </div>
        </section>
    </form>
</section>


