#{extends 'main.html' /}
#{set title:'trainer' /}

#{admin id:"trainer"/}

#{list items:memberList, as:'member'}
<section class="ui segment">
    <h2 class="ui header">
    ${member.name}
    </h2>
    <h5>${member.assessmentlist.size()} Assessments</h5>
    <a href="/members/${member.id}" class="ui icon button">
        <i class="icon folder open"></i>
    </a>
    <a href="/trainer/deletemember/${member.id}" class="ui icon button">
        <i class="icon trash"></i>
    </a>
</section>
#{/list}