#{extends 'main.html' /}
#{set title:'trainer' /}

#{admin id:"trainer"/}

#{list items:memberList, as:'member'}
<section class="ui three column center aligned middle aligned grid segment">
    <div class="ui column">
        <h2 class="ui header">
            #{if member.name == ''}<a href="/members/${member.id}">${member.id}</a>#{/if}
            #{else }<a href="/members/${member.id}">${member.name}</a>#{/else}
        </h2>
    </div>
    <div class="ui column">
        <h5>${member.assessmentlist.size()} Assessments</h5>
    </div>
    <div class="ui column">
        <a href="/trainer/deletemember/${member.id}" class="ui icon button">
            <i class="red icon trash"></i>
        </a>
    </div>
</section>
#{/list}
